@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-md-6 ">
        <div class="thumbnail">
           
            <img src="~/Images/Student.jpg" alt="..." height="500" width="500">
            <div class="text-center">
            <h3>Students</h3>
           
                <a href="~/Students/Create" class="btn btn-primary " role="button">Create Students</a>
                <a href="~/Students/Index" class="btn btn-primary " role="button">View Students</a>
            </div>
           
        </div>
    </div>
    <div class="col-md-6 ">
        <div class="thumbnail">
            <img src="~/Images/Professor.jpg" alt="..." height="500" width="500">
            <div class="text-center">
                <h3>Professors</h3>

                <a href="~/Professors/Create" class="btn btn-primary " role="button">Create Professor</a>
                <a href="~/Professors/Index" class="btn btn-primary " role="button">View Professor</a>
            </div>
        </div>
    </div>
    
</div>

<div class="row">
    <div class="col-md-6 ">
        <div class="thumbnail">
            <img src="~/Images/course1.jpg" alt="..." height="500" width="500">
            <div class="text-center">
                <h3>Courses</h3>

                <a href="~/Courses/Create" class="btn btn-primary " role="button">Create Courses</a>
                <a href="~/Courses/Index" class="btn btn-primary " role="button">View Courses</a>
            </div>
        </div>
    </div>
    <div class="col-md-6 ">
        <div class="thumbnail">
            <img src="~/Images/Enrollments.jpg" alt="..." height="500" width="500">
            <div class="text-center">
                <h3>Enrollments</h3>

                <a href="~/Enrollments/Create" class="btn btn-primary " role="button">Create Enrollment</a>
                <a href="~/Enrollments/Index" class="btn btn-primary " role="button">View Enrollment</a>
            </div>
        </div>
    </div>

</div>